@model FarmStore3.Models.AddProductViewModel

@{
    ViewData["Title"] = "AddProduce";
}

<h1>AddProduce</h1>

<h4>AddProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduce">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProduceName" class="control-label"></label>
                <input asp-for="ProduceName" class="form-control" />
                <span asp-validation-for="ProduceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProduceID" class="control-label"></label>
                <input asp-for="ProduceID" class="form-control" />
                <span asp-validation-for="ProduceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InSeason" /> @Html.DisplayNameFor(model => model.InSeason)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

